
    #list_leads{
        
    }
    .table_area{
        width:100%;
        overflow: auto;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    #frm_upcsv{
        padding: 10px;
    }

    /*Pagination */
    .pagination span,.pagination .pcontent{
        display: inline-block;
        cursor: pointer;
    }

