.chatwindow{
  margin: 20px 0;
  padding:10px 50px;
  width:50%;
  border-radius: 10px;
  border:1px solid #3c763d;
  box-shadow:2px 2px 1px 4px #999;
}

.profile{
  position: fixed;
  right: 0; left: 0;
  top:15%;
  padding:40px 10px 10px 10px;
  margin: auto;
  width:50%;
  border-radius: 10px;
  border:1px solid #3c763d;
  box-shadow:2px 2px 1px 4px #999;
  background: #fff;
  z-index: 300;
  display: none;
}

#profilemsg.profile{
  top:70px;
  right:30px;
  left: unset;
  width:550px;
}

#profilemsg span{
  display: inline-block;
  cursor: pointer;
  padding: 0;
}

#profilemsg .smallitem{
  width:50px;
}
#profilemsg .mediumitem{
  width:75px;
}


.profile .btnclose{
  position: absolute;
  top:5px; right: 5px;
  color:#000;
}

.profile span{
  padding:0px 0px 5px 10px;
}

.profile label{
  vertical-align: top;
}

.profileitem input[type=text]{
  border:1px solid #888;
}

.btninfo.active{
  color:#0f0;
}

.chatarea{
  text-align: center;
  font-size: 22px;
}

.sms_content{
  resize: none;
  width:100%;
  height: 70px;
  padding: 10px;
  border-radius: 10px;
}

.sms_content:focus{
  border-radius: 10px;
  border-color:rgb(77, 144, 254); 
  border-width: 2px;
  outline:none;
}

#btnsendsms{
  background: #3c763d;
  border-radius: 10px;
  padding: 5px 20px;
  color:#fff;
}
#btnsendsms:hover{
  background: rgba(60,118,40,0.4);
}

.chatbox {
    position:relative;
    border-radius: 10px;
    min-height: 50px;
    width:80% !important;
    margin:10px 5px;
    padding: 10px;
}

.placeright{
  float: right;
  width:100%;
}
.placeright:after{
  content:'';
  clear:both;
}
.placeleft{
  float: left;
}
.placeleft:after{
  content:'';
  clear:both;
}
.clearfix{
  clear:both;
}

.chatbox.placeright{
  background: #2a9ffd;
}
.chatbox.placeleft{
  background: #e5e5ea;
}
.chatbox.placeright:after {
    content:'';
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-top: solid 20px transparent;
    border-left: solid 20px #2a9ffd;
    border-bottom: solid 20px transparent;
}
.chatbox.placeleft:after {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-top: solid 20px transparent;
    border-right: solid 20px #e5e5ea;
    border-bottom: solid 20px transparent;
}

.rectime{
  width:100%;
  display: inline-block;
}

/*Context Menu*/
.contextmenu{
  display: none;
  list-style: none;
  border-radius: 3px;
  border:1px solid #999;
  box-shadow: 1px 1px 2px 3px #aaa;
  position: absolute;
  padding: 0; margin: 0;
  position: fixed;
  z-index: 99999;
}
ul.contextmenu li{
  display: block;
  width:150px;
  background: #fff;
  color:#000;
  padding: 10px;
  text-align: left;
  cursor: pointer;
}

ul.contextmenu li:hover{
  background: #ddd;
  border:1px solid:#eee;
}
td{
  position: relative;
}

.loadmore{
  position: absolute;
  right: 10px;
  bottom: 5px;
  cursor: pointer;
}

/*
  For discovery form css
  2017-12-15
*/
.discovery_form{
  padding:0 20px;
}
.discovery_form .row{
  margin-top:1px;
}

#profilemsg .btn-select .btn-select-value {
    padding: 0;
}
#profilemsg .btn-select .btn-select-arrow {
    padding: 0 10px 0 0;
}

#profilemsg{
  height: 830px;
  overflow-y: auto;
  overflow-x: hidden;
}

#profilemsg .arrow_width{
  width:130px;
}

#profilemsg .btn-select ul{
  top:22px;
}

#profilemsg .large_select{
  width:200px;
}
.moremsgcontent{
  color:#777;
  padding: 3px;
}

#profilemsg .fullwidth{
  width:100%;
}

#profilemsg textarea.fullwidth{
  height: 100px;
}
