.content{
  padding:10px 20px;
}
.btn-select {
    position: relative;
    padding: 0;
    width: 100%;
    border-radius: 0;
}
.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
#searchbar label {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 12px;
    color: #4c4b4b;
    color: #333;
}

/* Custom select window*/
#smsarea .btn-select .btn-select-arrow {
    padding: 0 10px 0 0;
}
.btn-select .btn-select-arrow {
    float: right;
    line-height: 20px;
    padding: 6px 10px;
    top: 0;
}
.btn-select.btn-default ul, .btn-select.btn-default .btn-select-value {
    background-color: white;
    border: #ccc 1px solid;
}
.btn-select ul {
    top: 50px;
}
.btn-select ul {
    display: none;
    background-color: white;
    color: black;
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: none !important;
    position: absolute;
    left: -1px;
    right: -1px;
    top: 33px;
    z-index: 999;
}

.btn-select.btn-default ul li.selected {
    background-color: #ccc;
}

.btn-select ul li.selected {
    color: white;
}
.btn-select ul li:hover {
    background-color: #eee;
}
.btn-select ul li {
    padding: 3px 6px;
    text-align: left;
    cursor: pointer;
    overflow: hidden;
}

.btn-select.btn-default ul, .btn-select.btn-default .btn-select-value {
    background-color: white;
    border: #ccc 1px solid;
}
#smsarea .btn-select .btn-select-value {
    padding: 0;
}
.btn-select .btn-select-value {
    padding: 6px 12px;
    display: block;
    position: absolute;
    left: 0;
    right: 34px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
}
/* Search Bar */
    #custom-search-input {
        margin:0;
        padding: 0;
    }
 
    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
        z-index: 10;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }

ul a,table a{
  cursor: pointer;
}

/* Modal Form */
.modal_area{
  display: none;
  top:0;
  left:0;
  background: rgba(0,0,0,0.3);
  position:fixed;
  width: 100%; 
  height: 100%;
  z-index: 1000;
  text-align: center;
}

.modal_dialog{
  position: absolute;
  top:20%;
  width:70%;
  margin:auto;
  left:0;right: 0;
  box-shadow:2px 2px 3px 3px #ccc;
}

.modal_title{
  position: relative;
  height: 40px;
  padding: 10px;
  font-size: 18px;
  background: #243e53;
  text-align: center;
  color:#fff;
}
.modal_title .btnclose{
  position: absolute;
  right:15px;
  top:10px;
  color:#fff;
}
.modal_content{
  position: relative;
  padding: 10px;
  background: #fff;
  text-align: center;
}
.modal_footer{
  position: relative;  
  height: 50px;
  padding: 10px;
  background: #eee;
  border-top:1px solid #ccc;
  text-align: center;
}

#chatbox .modal_dialog{
  top:10%;
  height: 80%;
}

#chatbox .modal_content{
  position: absolute;
  top:40px;
  bottom: 50px;
  width: 100%;
  overflow: auto;
}

#chatbox .modal_footer{
  bottom: 0;
  width: 100%;
  position: absolute;
}

.btnpadding{
  padding:5px;
}

table td{
  position: relative;
  padding: 2px 0px 2px 10px;
}

td .star{
  position: absolute;
  top:0px; left: -30px;
  cursor: pointer;
  color:#aaa;
  font-size: x-large;
}

td .star.goldstar{
  color:#FFDF00;
}

td .newmsg{
  color:#00ff00; position:absolute; top:5px;left:-5px;
}